{% extends 'fits/base_for_new_fit.html' %}
{% load bootstrap4 %}


{% block content %}

    <a href="{% url 'fits:fit' fit.owner fit.shown_id %}">
        {{ fit.description }}
    </a>

<p>Add Fit Elements </p>
    {% if not full_form %}
    {% if top_count < 2 %}
    <button id="add-top-form" type="button" class="btn btn-primary" data-toggle="modal" data-target="#topModal">
  Add Top
</button>
    {% endif %}
    {% if bottom_count == 0 %}
    <button id="add-bottom-form" type="button" class="btn btn-primary" data-toggle="modal" data-target="#bottomModal">
  Add Bottom
</button>
    {% endif %}
    {% if shoe_count == 0 %}
    <button id="add-shoe-form" type="button" class="btn btn-primary" data-toggle="modal" data-target="#shoeModal">
  Add Shoe
</button>
    {% endif %}
    {% if accessory_count < 6 %}
    <button id="add-accessory-form" type="button" class="btn btn-primary" data-toggle="modal" data-target="#accessoryModal">
  Add Accessory
</button>
    {% endif %}
    {% else %}
    <p>No more elements can be added, try deleting some</p>
    {% endif %}



<!-- Modal -->
<div class="modal fade" id="topModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Top</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id='new_top' action=""  method="post" name="new_top">
            <input type="hidden" name="new_top" value="new_top">
        {% csrf_token %}
                {{ top_form.as_p }}

            <div class="modal-footer">
            <button type="submit" class="btn btn-primary ">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
        </form>



<script type="text/javascript">
    $(function (e) {
        $('#new_top').on('submit',function (e) {
        e.preventDefault()

              $.ajax({
                type: 'post',
                url: 'new_fit',
                data: $('#new_top').serialize(),
                success: function () {
                 $('#topModal').modal('hide');
                }
              });
        $("#new_top")[0].reset();
        if (count > 0){
            $("#add-top-form").hide();
        }

        });
});
</script>

  </div>
</div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="accessoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Accessory</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id='new_accessory' action=""  method="post" name="new_accessory">
            <input type="hidden" name="new_accessory" value="new_accessory">
        {% csrf_token %}
                {{ accessory_form.as_p }}

            <div class="modal-footer">
            <button type="submit" class="btn btn-primary ">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
        </form>



<script type="text/javascript">
    $(function (e) {
        var count = 0;
        $('#new_accessory').on('submit',function (e) {
        e.preventDefault()

              $.ajax({
                type: 'post',
                url: 'new_fit',
                data: $('#new_accessory').serialize(),
                success: function () {
                 $('#accessoryModal').modal('hide');
                }
              });
        $("#new_accessory")[0].reset();
        if (count > 4){
            $("#add-accessory-form").hide();
        }
        else count= count+1;

        });
});
</script>

  </div>
</div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="bottomModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Bottom</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id='new_bottom' action=""  method="post" name="new_bottom">
            <input type="hidden" name="new_bottom" value="new_bottom">
        {% csrf_token %}
                {{ bottom_form.as_p }}

            <div class="modal-footer">
            <button type="submit" class="btn btn-primary ">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
        </form>



<script type="text/javascript">
    $(function (e) {
        $('#new_bottom').on('submit',function (e) {
        e.preventDefault()

              $.ajax({
                type: 'post',
                url: 'new_fit',
                data: $('#new_bottom').serialize(),
                success: function () {
                 $('#bottomModal').modal('hide');
                }
              });

        $("#add-bottom-form").hide();

        });
});
</script>

  </div>
</div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="shoeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Shoe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id='new_shoe' action=""  method="post" name="new_shoe">
            <input type="hidden" name="new_shoe" value="new_shoe">
        {% csrf_token %}
                {{ shoe_form.as_p }}

            <div class="modal-footer">
            <button type="submit" class="btn btn-primary ">Save changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

          </div>
        </form>



<script type="text/javascript">
    $(function (e) {
        $('#new_shoe').on('submit',function (e) {
        e.preventDefault()

              $.ajax({
                type: 'post',
                url: 'new_fit',
                data: $('#new_shoe').serialize(),
                success: function () {
                 $('#shoeModal').modal('hide');
                }
              });

        $("#add-shoe-form").hide();

        });
});
</script>

  </div>
</div>
</div>
</div>


{% endblock content %}