{% extends 'fits/base.html' %}

{% block content %}

    {% include 'fits/base_home_page.html' %}

<p>FitChecks is your own virtual closet, where you can store
specific outfits, and see other people's outfits and use it as inspiration</p>
    <p>Fits:</p>
    {% if fits %}
    <ul>
    {% for fit in fits %}
        <li>
            <a href="{% url 'fits:fit' fit.owner fit.shown_id %}">
            <img
                src="{{ fit.image.url }}" alt="img"
            >
                </a>
        </li>
    {% empty %}
        <li>There are no fits yet</li>
    {% endfor %}
    </ul>
    {% endif %}
{% endblock content%}