{% extends 'fits/base.html' %}
{% load static %}
{% block cssfiles %}
{% endblock cssfiles %}

{% block content %}




<h4>FitChecks - Your own virtual closet</h4>
<div class="container">
<div class="row">

{% for fit in fits %}

    <div class="col-xs-1">
        <div class="card bg-transparent mx-md-3 my-md-3" style="width: 18rem;">
            <div class="card-header bg-transparent">
                <div class="row">
                    <div class="col-8">
                        <h2>{{ fit.owner.username}}</h2>
                    </div>
                <div class="col-4">
                    {% if is_following and user.is_authenticated %}
                        <form action="" method="post">
                        {% csrf_token %}
                        <button class = "text-sm-center" name="FunButton">Unfollow</button>
                        </form>
                    {% elif not is_following and user.is_authenticated %}
                        <form action="" method="post">
                        {% csrf_token %}
                        <button class = "text-sm-center" name="FunButton" >Follow</button>
                        </form>
                    {% endif %}
                    <p class="text-right">5/18/18</p>
                </div>
                </div>
            </div>
            <img class="card-img" src="{{ fit.image.url }}" alt="First Puppy Photo">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-10" style="float:left;">
                        <button class="btn btn-white like" style="display:inline" id="{{ fit.id }}">
                            {% if fit in liked_post %}
                                <a href="{% url 'fits:like_fit' %}" class="likebtn{{ fit.id }}">
                                    <i class="fa fa-heart" id="heart{{ fit.id }}" style="color:black;"></i></a>
                            {% else %}
                                <a href="{% url 'fits:like_fit' %}" class="likebtn{{ fit.id }}">
                                    <i class="fa fa-heart-o"  id="heart{{ fit.id }}" style="color:black;"></i></a> |
                            {% endif %}

                        </button>
                            <div class="like-count{{ fit.id }}">
                {{fit.likes.count}}</div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endfor %}
    </div>
    </div>






{% endblock content%}


{% block jsfiles %}
<script>
    $(document).ready(function() {
        $(".like").click(function (e) {

            var id = this.id;
            var href = $(".like").find("a").attr("href");
            var count = parseInt($('.like-count' + id).text());

            e.preventDefault();


            $.ajax({
                url: href,
                data: {
                    "likeId": id,
                },
                success: function (response) {
                    if (response.liked) {
                        $('.like-count' + id).text(count+1);
                        $("#heart"+ id).toggleClass("fa fa-heart fa fa-heart-o");






                    } else {
                        $('.like-count' + id).text(count-1);
                        $("#heart" + id).toggleClass("fa fa-heart-o fa fa-heart");





                    }

                },
            });
        });
    });
</script>
{% endblock jsfiles %}


