{% extends 'fits/base.html' %}
{% load static %}
{% block cssfiles %}
{% endblock cssfiles %}

{% block content %}




<h4>FitChecks - Your own virtual closet</h4>
<div class="container">
<div class="row infinite-container">

{% for fit in fitz %}
    <div class="col-xs-1 infinite-item">
        <div class="card bg-transparent mx-md-3 my-md-3" style="width: 18rem;">
            <div class="card-header bg-transparent">
                <div class="row">
                    <div class="col-8">
                        <a href="{% url 'fits:closets' fit.owner %}"><h2>{{ fit.owner.username}}</h2></a>
                    </div>
                <div class="col-4">
                    {% if fit.owner != user %}
                    <button class="btn btn-white fun" style="display:inline" id="{{ fit.shown_id }}">
                        <input type="hidden" name="{{ fit.owner }}" value="{{ fit.owner }}" class="{{ fit.owner }}">
                    {% if fit in following_user and user.is_authenticated %}
                        <a href="{% url 'fits:fun' %}" class="funbtn{{ fit.shown_id }} {{ fit.owner }}">Unfollow</a>
                    {% elif fit not in following_user and user.is_authenticated %}
                        <a href="{% url 'fits:fun' %}" class="funbtn{{ fit.shown_id }} {{ fit.owner }}">Follow</a>
                    {% endif %}
                    </button>
                    {% endif %}
                </div>
                </div>
            </div>
            <img class="card-img" src="{{ fit.image.url }}" alt="First Puppy Photo">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-10" style="float:left;">
                        <button class="btn btn-white like" style="display:inline" id="{{ fit.id }}">
                            {% if fit in liked_post %}
                                <a href="{% url 'fits:like_fit' %}" class="likebtn{{ fit.id }}">
                                    <i class="fa fa-heart" id="heart{{ fit.id }}" style="color:black;"></i></a>
                            {% else %}
                                <a href="{% url 'fits:like_fit' %}" class="likebtn{{ fit.id }}">
                                    <i class="fa fa-heart-o"  id="heart{{ fit.id }}" style="color:black;"></i></a>
                            {% endif %}

                        </button>
                            <div class="like-count{{ fit.id }}">
                {{fit.likes.count}}</div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
{% endfor %}
    </div>
{% if fitz.has_next %}
    <a class="infinite-more-link" href="?page={{ fitz.next_page_number }}">More</a>
    {% endif %}






{% endblock content%}

{% block javascript %}

    <script>

        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],

        });
  </script>

{% endblock %}

<!-- this.innertext = Follow/Unfollow-->

{% block jsfiles %}

    <script>
        $(document).on('click', '.fun', function (e) {

            var id = this.id;
            var href = $(".fun").find("a").attr("href");
            var target = $(this).find('input').val();

            var owner = document.getElementsByClassName(target);



            e.preventDefault();


            $.ajax({
                url: href,
                data: {
                    "funId": id,
                },
                success: function (response) {
                    if (response.is_following) {
                        for (var i = 0; i < owner.length; i++) {
                            if (owner[i].textContent){
                                owner[i].textContent = "Unfollow"
                            }
                          }




                    } else {
                        for (var j = 0; j < owner.length; j++) {
                            if (owner[j].textContent){
                                owner[j].textContent = "Follow"
                            }
                          }

                    }

                },
            });
        });

</script>



<script>
        $(document).on('click', '.like', function (e) {

            var id = this.id;
            var href = $(".like").find("a").attr("href");
            var count = parseInt($('.like-count' + id).text());

            e.preventDefault();


            $.ajax({
                url: href,
                data: {
                    "likeId": id,
                },
                success: function (response) {
                    if (response.liked) {
                        $('.like-count' + id).text(count+1);
                        $("#heart"+ id).toggleClass("fa fa-heart fa fa-heart-o");

                    } else {
                        $('.like-count' + id).text(count-1);
                        $("#heart" + id).toggleClass("fa fa-heart-o fa fa-heart");


                    }

                },
            });
        });

</script>



{% endblock jsfiles %}


