<p>
    <a href="{% url 'fits:index' %}">
        FitChecks
    </a>
</p>
<p>
{% if user.is_authenticated %}
    Hello, {{ user.username }}.
    <a href="{% url 'users:logout' %}">
        Log Out
    </a>
    <a
        href="{% url 'fits:closets' user %}">
        Your Closet(s)
    </a>
    <a href="{% url 'fits:new_closet' user %}">
        New Closet
    </a>
    <a href="{% url 'fits:new_fit' user %}">
        New Fit
    </a>
{% else %}
    <a href="{% url 'users:register' %}">
        Register
    </a> -
    <a href="{% url 'users:login' %}">
        Log In
    </a>
{% endif %}
</p>

{% block content %}{% endblock content %}