{% extends 'fits/base.html' %}
{% block content %}


    <p>{{ owner.username }}'s Closets</p><br>
    <p>{{ owner.profile.bio }}</p>
    <img src="{{ owner.profile.country.flag}}" alt="{{ owner.profile.country.alpha3 }}">
    <img
                src="{{ owner.profile.get_profile_pic_url }}" class="rounded-circle" alt="img"
            >


    {% if not same %}
        <!--console.log("not same")-->
        {% if is_following %}
                <form action="" method="post">
                {% csrf_token %}
                <button class = "btn btn-default" name="FunButton" >Unfollow</button>
                </form>
        {% elif not is_following %}
                <form action="" method="post">
                {% csrf_token %}
                <button class = "btn btn-default" name="FunButton" >Follow</button>
                </form>
        {% endif %}
    {% else %}
        <button type="button">
        <a href="{% url 'users:edit_profile' owner %}">Edit Profile</a>
        </button>
        <button type="button">
        <a href="{% url 'users:delete_profile' owner %}">Delete Profile</a>
        </button>
    {% endif %}
    <ul>
    {% for closet in closets %}
        <li>
            <a href="{% url 'fits:single_closet' closet.owner closet.style %}">
                {{ closet.style }}
                </a>
        </li>
    {% empty %}
        <li>There are no fits for {{ closet.owner }}'s closet {{ closet }} yet</li>
    {% endfor %}
    </ul>
{% endblock content %}