{% extends 'fits/base.html' %}
{% load static %}
{% block cssfiles %}
{% endblock cssfiles %}

{% block content %}

    <div class="mx-5">
    <h4>FitChecks - Your own virtual closet</h4>
    </div>
    <div class="grid" id="{{ num_pages }}" style="margin: auto 0">

        {% for fit in fitz %}

            <div class="grid-item">
                <div class="card bg-transparent border-0 mx-2 my-3" style="width: 300px;">
                    <div class="card-header bg-transparent border-0 mx-2" style="height: 3rem">

                        <a class="btn follow_button" href="{% url 'fits:closets' fit.owner %}">
                            <h4 style="font-weight: normal;">{{ fit.owner.username}}</h4></a>

                    </div>
                <div class="card-body text-center">
                    <img class="card-img" style="max-width: 85%;" src="{{ fit.image.url }}" alt="First Puppy Photo">
                </div>
                    <div class="card-footer bg-transparent border-0 my-0 py-0 mx-2">
                            {% if user.is_authenticated %}
                                <button class="btn like" id="{{ fit.id }}" style="float: left; vertical-align: top;">
                                    {% if fit in liked_post%}
                                        <a href="{% url 'fits:like_fit' %}" style="color:red;" id="likebtn{{ fit.id }}">
                                            <i class="fa fa-heart" id="heart{{ fit.id }}" style="color:black;"></i></a>
                                    {% else %}
                                        <a href="{% url 'fits:like_fit' %}" style="color:green;" id="likebtn{{ fit.id }}">
                                            <i class="fa fa-heart-o"  id="heart{{ fit.id }}" style="color:black;"></i>
                                        </a>
                                    {% endif %}
                                </button>

                                <span class="like-count{{ fit.id }}" style="float: left; vertical-align: top; line-height: 38px">
                                        {{fit.likes.count}}</span>
                            {% endif %}

                                {% if fit.owner != user %}
                                    <button class="btn btn-white fun float-right" style="display:inline" id="{{ fit.shown_id }}">
                                        <input type="hidden" name="{{ fit.owner }}" value="{{ fit.owner }}" class="{{ fit.owner }}">
                                        {% if fit in following_user and user.is_authenticated %}
                                            <a href="{% url 'fits:fun' %}" class="funbtn{{ fit.shown_id }} {{ fit.owner }}">Unfollow</a>
                                        {% elif fit not in following_user and user.is_authenticated %}
                                            <a href="{% url 'fits:fun' %}" class="funbtn{{ fit.shown_id }} {{ fit.owner }}">Follow</a>
                                        {% endif %}
                                    </button>
                                {% endif %}



                    </div>
                </div>
            </div>
        {% endfor %}
    </div>





{% endblock content%}



{% block jsfiles %}
    <script>
    $( document ).ready(function() {
        var elem = document.querySelector('.grid');
        var msrny = new Masonry(elem, {
            itemSelector: '.grid-item',

        });


        var page = 0;
        var elem2 = document.querySelector('.grid');
        var infScroll = new InfiniteScroll(elem2, {
            path: function() {
                if (page < elem2.id){
                    page+=.5;
                    return '?page=' + page;
                }
            },
            append: '.grid-item',
            outlayer: msrny,

        });
        });



    </script>

    <script>
        $(document).on('click', '.fun', function (e) {

            var id = this.id;
            var href = $(".fun").find("a").attr("href");
            var target = $(this).find('input').val();

            var owner = document.getElementsByClassName(target);



            e.preventDefault();


            $.ajax({
                url: href,
                data: {
                    "funId": id,
                },
                success: function (response) {
                    if (response.is_following) {
                        for (var i = 0; i < owner.length; i++) {
                            if (owner[i].textContent){
                                owner[i].textContent = "Unfollow"
                            }
                        }




                    } else {
                        for (var j = 0; j < owner.length; j++) {
                            if (owner[j].textContent){
                                owner[j].textContent = "Follow"
                            }
                        }

                    }

                },
            });
        });

    </script>

    <script>
        $(document).on('click', '.like', function (e) {

            var id = this.id;
            var href = $(".like").find("a").attr("href");
            var count = parseInt($('.like-count' + id).text());

            e.preventDefault();


            $.ajax({
                url: href,
                data: {
                    "likeId": id,
                },
                success: function (response) {
                    if (response.liked) {
                        $('.like-count' + id).text(count+1);
                        $("#heart"+ id).toggleClass("fa fa-heart fa fa-heart-o");




                    } else {
                        $('.like-count' + id).text(count-1);
                        $("#heart" + id).toggleClass("fa fa-heart-o fa fa-heart");


                    }

                },
            });
        });
    </script>



{% endblock jsfiles %}