{% extends 'fits/base.html' %}
{% load static %}
{% block cssfiles %}
{% endblock cssfiles %}

{% block content %}



<p>FitChecks is your own virtual closet, where you can store
specific outfits, and see other people's outfits and use it as inspiration</p>
    <p>Fits:</p>
    <ul>
    {% for fit in fits %}
        <li>
            <a href="{% url 'fits:fit' fit.owner fit.shown_id %}">
            <img
                src="{{ fit.image.url }}" alt="img"
            >
                </a>
        </li>
        <div class="card-footer">
        <button class="btn btn-white mr-3 like" id="{{ fit.id }}">
			        {% if fit in liked_post %}
			            <a href="{% url 'fits:like_fit' %}" style="color:red;" id="likebtn{{ fit.id }}"> Unlike</a> |


			        {% else %}
			            <a href="{% url 'fits:like_fit' %}" style="color:green;" id="likebtn{{ fit.id }}"> Like</a> |



			        {% endif %}
                    <div class="like-count{{ fit.id }}">
                {{fit.likes.count}}</div>


			    </button>
        </div>
    {% empty %}
        <li>There are no fits yet</li>
    {% endfor %}
    </ul>
{% endblock content%}

{% block jsfiles %}
<script>
    $(document).ready(function() {
        $(".like").click(function (e) {

            var id = this.id;
            var href = $(".like").find("a").attr("href");
            var count = parseInt($('.like-count' + id).text());

            e.preventDefault();


            $.ajax({
                url: href,
                data: {
                    "likeId": id,
                },
                success: function (response) {
                    if (response.liked) {
                        $('.like-count' + id).text(count+1);
                        $("#likebtn" + id).html("Unlike");
                        $("#likebtn" + id).css("color", "red");




                    } else {
                        $('.like-count' + id).text(count-1);
                        $("#likebtn" + id).html("Like");
                        $("#likebtn" + id).css("color", "green");


                    }

                },
            });
        });
    });
</script>
{% endblock jsfiles %}