{% extends 'fits/base.html' %}
{% block content %}
    <img
                src="{{ fit.image.url }}" alt="img"
            >
            <p>
                {{ fit.description }}
            </p>
            <p>
                {{ fit.tags }}
            </p>
            <p>
                {{ fit.date_added|date:'M d, Y' }}
            </p>
            <p>
                {{ fit.shown_id }}
            </p>
    {% if same %}
        <button type="button">
        <a href="{% url 'fits:delete_fit' fit.owner fit.shown_id %}">Delete</a>
        </button>
        <button type="button">
        <a href="{% url 'fits:edit_fit' fit.owner fit.shown_id %}">Edit</a>
        </button>
    {% endif %}
{% endblock content %}