{% extends 'fits/base.html' %}
{% load static %}

{% block cssfiles %}
{% endblock cssfiles %}
{% block content %}
    <img
                src="{{ fit.image.url }}" alt="img"
            >
            <p>
                {{ fit.description }}
            </p>
            <p>
                {{ fit.tags }}
            </p>
            <p>
                {{ fit.date_added|date:'M d, Y' }}
            </p>
        <h4>Comments</h4>

            <form action = "" method = "post">
                {% csrf_token %}
                    {{ form.as_p }}
                <div>
                    <button class="btn btn-lg btn-primary btn-block text-uppercase" name="submit">Comment</button><br>
                </div>
            </form>

    <div class="row">
	    	<div class="col-md-8">
	    		{% if fit.details.all %}
	    		<div class="card card-signin my-5">
	    		{% for detail in fit.details.all %}
	    			<div class="card-body">
	    				<a href="{% url 'fits:closets' detail.username %}">
	    					<img src="/{{ detail.username.profile.get_profile_pic_url}}" class="rounded-circle" width="30" height="30" alt="">
	    				</a>
	          			<a class="text-dark" href="{% url 'fits:closets' detail.username %}"><b>{{ detail.username }}</b></a>
	          			<br><small>{{ detail.comment_date }}</small><br>
	          			<p class="card-text text-dark">{{ detail.comment }}</p>
	    			</div>
	    		{% endfor %}
	    		</div>
	    		{% else %}
	    			<p>No comments to show!</p>
	    		{% endif %}
	    	</div>
    </div>
            <ul>
                {% for top in fit.top_set.all %}
                    <li><p>Top</p>
                    {% if top.description %}
                        <p>Description: {{ top.description }}</p>
                    {% endif %}
                    {% if top.price %}
                        <p>Price: {{ top.price }}</p>
                    {% endif %}
                    {% if top.brand %}
                        <p>Brand: {{ top.brand }}</p>
                    {% endif %}
                    {% if top.size %}
                        <p>Size: {{ top.size }}</p>
                    {% endif %}
                    {% if top.color %}
                        <p>Color: {{ top.color }}</p>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>


            {% if bottom %}
            <p>Bottom</p>
            {% endif %}
            {% if bottom.description %}
            <p>{{ bottom.description }}</p>
            {% endif %}
                {% if bottom.price %}
            <p>{{ bottom.price }}</p>
                {% endif %}
            {% if bottom.brand %}
            <p>{{ bottom.brand }}</p>
                {% endif %}
                {% if bottom.size %}
            <p>{{ bottom.size }}</p>
                {% endif %}
            {% if bottom.color %}
            <p>{{ bottom.color }}</p>
                {% endif %}


            {% if shoe %}
            <p>Shoe</p>
            {% endif %}
            {% if shoe.description %}
            <p>{{ shoe.description }}</p>
            {% endif %}
                {% if shoe.price %}
            <p>{{ shoe.price }}</p>
                {% endif %}
            {% if shoe.brand %}
            <p>{{ shoe.brand }}</p>
                {% endif %}
                {% if shoe.size %}
            <p>{{ shoe.size }}</p>
                {% endif %}
            {% if shoe.color %}
            <p>{{ shoe.color }}</p>
                {% endif %}

            <ul>
                {% for accessory in fit.accessory_set.all %}
                    <li><p>Accessory</p>
                    {% if accessory.description %}
                        <p>Description: {{ accessory.description }}</p>
                    {% endif %}
                    {% if accessory.price %}
                        <p>Price: {{ accessory.price }}</p>
                    {% endif %}
                    {% if accessory.brand %}
                        <p>Brand: {{ accessory.brand }}</p>
                    {% endif %}
                    {% if accessory.size %}
                        <p>Size: {{ accessory.size }}</p>
                    {% endif %}
                    {% if accessory.color %}
                        <p>Color: {{ accessory.color }}</p>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>

    {% if same %}
        <button type="button">
        <a href="{% url 'fits:delete_fit' fit.owner fit.shown_id %}">Delete Fit</a>
        </button>
        <button type="button">
        <a href="{% url 'fits:edit_fit' fit.owner fit.shown_id %}">Edit Fit</a>
        </button>
        <button type="button">
        <a href="{% url 'fits:edit_fit_elements' fit.owner fit.shown_id %}">Edit/Delete Elements</a>
        </button>
        <button type="button">
        <a href="{% url 'fits:add_fit_elements' fit.owner fit.shown_id %}">Add Elements</a>
        </button>
    {% endif %}
{% endblock content %}