{% extends 'fits/base.html' %}
{% load static %}
{% block cssfiles %}
{% endblock cssfiles %}

{% block page_header %}
<div class="jumbotron">
<h2 class="display-3">See, share, and check fits</h2>
<p class="lead">FitChecks is the premier virtual closet. You get inspiration for entire fits, and can share
each aspect of a fit, or don't, you can also just keep track of your favorite outfits and how they look. </p>
<a class="btn btn-lg btn-primary" href="{% url 'users:register' %}" role="button">Register &raquo;</a>
</div>
{% endblock page_header %}

{% block content %}

{% endblock content %}