{% extends 'fits/base.html' %}
{% block content %}

    <p>Liked Fits</p>

    {% if owner == user %}

    <form action="{% url 'fits:liked_fits' owner %}" method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button name="submit">Save changes</button>
     </form>
    {% endif %}


    <p>Fits:</p>

    <ul>
    {% for outfit in liked_fits %}
        <li>
            <a href="{% url 'fits:fit' outfit.owner outfit.shown_id %}">
            <img
                src="{{ outfit.image.url }}" alt="img"
            >
                </a>
        </li>
    {% empty %}
        <li>There are no Liked fits for {{ owner }} yet</li>
    {% endfor %}
    </ul>

{% endblock content %}
{% block jsfiles %}

<script>
        $(document).on('click', '.prv', function (e) {

            var id = this.id;
            var href = $(".prv").find("a").attr("href");

            e.preventDefault();


            $.ajax({
                url: href,
                data: {
                    "pvtID": id,
                },



            });
        });
</script>
{% endblock jsfiles %}